<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumaincso</title>
    <link rel="stylesheet" href="../css/app.css">

</head>
<body>
    <div class="container">
        <div class="header">
            <div style="margin-right:1rem;">
                <h4><%=title %></h4>
            </div>
            <ul>
                <li>
                    <a href="/home">News</a>
                </li>
                <li>
                    <a href="/event">Events</a>
                </li>
            </ul>
        </div>
        

    </div>


    <div class="main">
        <form action="" onsubmit="postNews()" class="post-form">
            <div class="form-control">
                <textarea name="content" id="news" placeholder="Place your news here"></textarea>
            </div>

             <div class="form-control">
                <label for="">Pick File</label>
                <input type="file" id="file" name="file"  />
            </div>

            <button class="btn-primary">Post news</button>
        </form>

        <div class="latest-news">
            <!-- <%=data%> -->
            <div><h3>Latest News</h3></div>
            <% data.forEach(function(d){ %>
                <div class="section-data">
                    <p class="date"><%=  moment(d.createdAt).format('Do MMMM, YYYY') %></p>
                    <h3><%= d.title %></h3>
                    <p><%= d.content %></p>
                    <p><a href="<%= d.pdf_url %>"><%= d.pdf_url %></a></p>
                    <div class="section-footer">
                        <button class="btn-delete" onclick="deleteNews('<%=d._id%>')">Delete</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
                <!-- let data = JSON.stringify({'content':news,token}) -->

    <script>
        async function postNews(){
            event.preventDefault();
            let btn = document.querySelector(".btn-primary");
            let news = document.querySelector("#news").value
            let file = document.querySelector("#news").files[0]

            let token = localStorage.getItem("token")
            if(token){
                btn.innerHTML = "Posting, wait ..."
                const formData = new FormData();
                formData.append("content",news)
                formData.append("token",token)
                formData.append("file",file)
                
                return;
                const res = await fetch("https://tumainicso.herokuapp.com/news",
                {headers:{'Content-Type':'application/json'},method:"POST",body:formData})
                const result = await res.json();
                console.log(result)

                if(result.status){
                    document.querySelector("#news").value = ""
                    window.location.reload()
                }else{
                    btn.innerHTML = "Post news"
                }

            }
        }

        async function deleteNews(id){

            const url = `https://tumainicso.herokuapp.com/news/${id}`
            const res = await fetch(url,{method:"DELETE"})
            const data = await res.json()
            console.log(data);
            if(data.status){
                window.location.reload()
            }
        }

    </script>
</body>
</html>